@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
  height: 100px;
  background-color: red;
}
