@charset "UTF-8";

* {
  font-family: arial;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  /*deixa tudo maiusculo*/
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
}

nav .active a,
/*A classe active é um nome comum para uma classe CSS que é frequentemente usada para destacar visualmente um elemento ativo em uma página da web.*/
nav a:hover {
  background-color: #39aae1;
  color: white;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url("fotos/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 2px 0 #555555c2;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
}

.banner_headline h2 {
  color: white;
  font-size: 23px;
  text-shadow: 0px 2px 0 #555555c2;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}

.banner2 {
  background-color: #0079c7;
}

.banner3 {
  display: flex;
  background-color: #2b4c99;
  display: flex;
}

.banner_title {
  font-size: 22px;
}

.banner_desc {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.banner_options a:hover {
  background-color: white;
  color: #2b4c99;
}

/* exercicio do curso - opening hours, 

coloquei o banner 3 display flex, flex-direction:column,jusstify-content:center;
 
as classes MAIN, 
display:flex;
justify-content:space-between;
perfeito a execução do exercicio.
*/
.banner3 {
  background-color: #2b4c99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.week-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.week {
  font-size: 13px;
  font-weight: bold;
}

.week-hours {
  font-size: 13px;
  font-weight: bold;
}

.Saturday-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.Saturday {
  font-size: 13px;
  font-weight: bold;
}

.Saturday-hours {
  font-size: 13px;
  font-weight: bold;
}

.sunday-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.sunday {
  font-size: 13px;
  font-weight: bold;
}

.sunday-hours {
  font-size: 13px;
  font-weight: bold;
}

#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.wigted_title_text {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.wigted_title_bar {
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1;
  /* fla para o pragama que vai ser tudo divido igual tudo no mesmo padrão. */
  min-width: 300px;
  margin-right: 20px;
}

article a {
  text-decoration: none;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: #2b4c99;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

article .news_comments {
  background-color: #39aae1;
  color: white;
  font-size: 12px;
  padding: 10px;
}

article .news_thumbnail {
  margin-top: 30px;
}

article .news_thumbnail img {
  width: 100%;
  height: auto;
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 23px;
  color: black;
}

article .news_resume {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 20px;
  /*espaçamento entre as linhas dos texto*/
  margin-bottom: 30px;
}

.widget_box1 {
  display: flex;
  flex-direction: row;
}

.widget_body1 {
  margin-right: 15px;
  margin-bottom: 15px;
  height: 100px;
  background-color: #39aae1;
  width: 100px;
}

.widget_box2 {
  display: flex;
  flex-direction: row;
}

.widget_body2 {
  margin-right: 15px;
  margin-bottom: 15px;
  height: 100px;
  background-color: #39aae1;
  width: 100px;
}

.widget_box3 {
  display: flex;
  flex-direction: row;
}

.widget_body3 {
  margin-right: 15px;
  margin-bottom: 15px;
  height: 100px;
  background-color: #39aae1;
  width: 100px;
}

.widget_body_contact_desc {
  margin-bottom: 10px;
  font-size: 14px;
}

.widget_body_contact_desc div {
  margin-top: 12px;
  border-bottom: 1px solid #bdb7b7cc;
}

.widget_body_contact_desc span {
  font-weight: bold;
}

strong {
  font-size: 13px;

}

strong a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.footer_menu {
  display: flex;
}

.fm_1,
.fm_2,
.fm_3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.fm_1 {
  background-color: #36a9e1;
  font-size: 20px;
}

.fm_2 {
  background-color: #0079c7;
  font-size: 20px;
}

.fm_3 {
  background-color: #2b4c99;
  font-size: 20px;
}

.footer_area {
  display: flex;
}

.footer_areaitem {
  flex: 1;
  color: white;
}

.widget_body_contact_desc a {
  text-decoration: none;
  color: #36a9e1;
}

.flexColumn {
  flex-direction: column;
}

footer .wigted_title_text {
  color: white;
}

.footer_copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 14px;
  margin-top: 30px;
}

.footer_text_menu {
  font-size: 13px;
}

.footer_menu a {
  text-decoration: none;
}

.medicenter {
  margin-top: 30px;
}

.medicenter p {
  color: #5c5c5c;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex: 1;
}

footer .b {
  margin-top: 30px;
}

footer .c,
.d,
.e {
  display: flex;
  justify-content: space-between;
}

.widget_body_records {
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 20px;
}

.widget_body_records a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.latest_posts p {
  margin-right: 7px;
  margin-top: 0;
}

span {
  font-size: 11px;
  color: #39aae1;
}

.widget_body_bill {
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 20px;
}

.widget_body_bill a {

  text-decoration: none;
  color: #5c5c5c;
  display: flex;
  justify-content: flex-start;
}

.latest_tweets p {
  margin-right: 7px;
  margin-top: 0;
}

.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.mm_line {
  height: 3px;
  background-color: #36a9e1;

}

/* media query - responsividade */
/*CELULAR 
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px)
*/
@media (max-width:600px) {

  .logo {
    padding-left: 20px;
  }

  #banner {
    background-position: left;
    /* DIMINUIR A FOTO DO BANNER E ADAPTAR ELA AQUI.*/
  }


  .banner_headline {
    padding: 20px;
  }

  .banner_headline h1 {
    font-size: 55px;

  }

  .banner_headline h2 {
    font-size: 17px;
  }

  .banner_options {
    height: auto;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  #geral section {
    padding: 20px;
    margin-top: 60px;
    margin-bottom: -60px;
  }

  #geral aside {

    padding: 20px;
  }

  .footer_menu {
    flex-direction: column;
  }

  .footer_area {
    flex-direction: column;
    padding: 20px;
  }

  .footer_copy {
    padding-left: 20px;
    padding-bottom: 12px;
  }

  header .container {
    flex-direction: row;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  header {
    height: auto;

  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}