@charset "UTF-8";
* {
  font-family: arial;
}
body {
  margin: 0px;
  padding: 0px;
  padding-bottom: 300px;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase; /*deixa tudo maiusculo*/
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
}

nav .active a, /*A classe active é um nome comum para uma classe CSS que é frequentemente usada para destacar visualmente um elemento ativo em uma página da web.*/
nav a:hover {
  background-color: #39aae1;
  color: white;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url("fotos/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 2px 0 #555555c2;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
}

.banner_headline h2 {
  color: white;
  font-size: 23px;
  text-shadow: 0px 2px 0 #555555c2;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  display: flex;
  background-color: #2b4c99;
  display: flex;
}

.banner_title {
  font-size: 22px;
}

.banner_desc {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.banner_options a:hover {
  background-color: white;
  color: #2b4c99;
}
/* exercicio do curso - opening hours, 

coloquei o banner 3 display flex, flex-direction:column,jusstify-content:center;
 
as classes MAIN, 
display:flex;
justify-content:space-between;
perfeito a execução do exercicio.
*/
.banner3 {
  background-color: #2b4c99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.week-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}
.week {
  font-size: 13px;
  font-weight: bold;
}
.week-hours {
  font-size: 13px;
  font-weight: bold;
}
.Saturday-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}
.Saturday {
  font-size: 13px;
  font-weight: bold;
}
.Saturday-hours {
  font-size: 13px;
  font-weight: bold;
}
.sunday-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}
.sunday {
  font-size: 13px;
  font-weight: bold;
}
.sunday-hours {
  font-size: 13px;
  font-weight: bold;
}

#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.wigted_title_text {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.wigted_title_bar {
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: #2b4c99;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

article .news_comments {
  background-color: #39aae1;
  color: white;
  font-size: 12px;
  padding: 10px;
}

article .news_thumbnail{
  margin-top: 30px;
}

article .news_thumbnail img{
  width: 100%;
  height: auto;
}

article .news_title{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 23px;
  color: black;
}

article .news_resume{
  font-size: 14px;
  color: #5c5c5c;
  line-height: 20px; /*espaçamento entre as linhas dos texto*/
}
